# Sub task 1.1: T√¨m hi·ªÉu c√°c tr√∫c d·ªØ li·ªáu

In [2]:
import pandas as pd # Standard import
import numpy as np
from datetime import datetime

data_path = '/Users/quockhoile/Desktop/DaiHoc/Cac Mo hinh DL/milestone/code/data_process/e-commerce data.csv'

# Load d·ªØ li·ªáu
df = pd.read_csv(data_path, encoding='latin-1')

print("‚úì D·ªØ li·ªáu ƒë√£ ƒë∆∞·ª£c t·∫£i th√†nh c√¥ng")

‚úì D·ªØ li·ªáu ƒë√£ ƒë∆∞·ª£c t·∫£i th√†nh c√¥ng

In [3]:
import chardet

with open(data_path, 'rb') as f:
    result = chardet.detect(f.read(500000))  # ƒë·ªçc 500KB ƒë·∫ßu ti√™n
    print(result)

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}

In [4]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

## C√¢u 1: K√≠ch th∆∞·ªõc Dataset

In [5]:
rows, cols = df.shape
print(f"üìä Dataset c√≥: {rows:,} rows x {cols} columns")

üìä Dataset c√≥: 541,909 rows x 8 columns

T·ªïng s·ªë transaction b·∫±ng t·ªëng s·ªë d√≤ng l√† kho·∫£ng 541 909 d√≤ng d·ªØ li·ªáu

## C√¢u 2: T√™n c·ªôt v√† ki·ªÉu d·ªØ li·ªáu

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [7]:
# Ki·ªÉm tra t√™n c·ªôt v√† ki·ªÉu d·ªØ li·ªáu
print("üìã T√™n c·ªôt v√† ki·ªÉu d·ªØ li·ªáu:\n")
print(df.dtypes)

üìã T√™n c·ªôt v√† ki·ªÉu d·ªØ li·ªáu:

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

## C√¢u 3: Ki·ªÉm tra data th·ªùi gian

Nh·∫≠n th·∫•y d·ªØ li·ªáu Invoicedate dang ·ªü d·∫°ng obj n√™n chuy·ªÉn th√†nh datetime

In [8]:
# change InvoiceDate to datetime 12/1/2010 11:57
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['InvoiceDate']

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

In [9]:
min_date = df['InvoiceDate'].min()
max_date = df['InvoiceDate'].max()

min_date, max_date

(Timestamp('2010-12-01 08:26:00'), Timestamp('2011-12-09 12:50:00'))

D·ªØ li·ªáu n·∫±m trong kho·∫£ng ng√†y xxx 2010 - xxxx 2011

# Subtask 1.2 Data Validation

In [10]:
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

## Ki·ªÉm tra Quantity > 0  UnitPrice > 0 ?

In [11]:
# 1. Ki·ªÉm tra Quantity
print("--- Ki·ªÉm tra Quantity ---")
negative_quantity = df[df['Quantity'] <= 0]
print(f"S·ªë l∆∞·ª£ng d√≤ng c√≥ Quantity <= 0: {len(negative_quantity)} ({len(negative_quantity)/len(df)*100:.2f}%)")

# Ki·ªÉm tra xem Quantity √¢m c√≥ ph·∫£i l√† ƒë∆°n h·ªßy (InvoiceNo ch·ª©a 'C') kh√¥ng
cancelled_orders = negative_quantity['InvoiceNo'].str.contains('C', na=False).sum()
print(f"Trong ƒë√≥ s·ªë l∆∞·ª£ng ƒë∆°n h√†ng c√≥ InvoiceNo ch·ª©a 'C' (Cancelled): {cancelled_orders}")

# 2. Ki·ªÉm tra UnitPrice
print("\n--- Ki·ªÉm tra UnitPrice ---")
invalid_price = df[df['UnitPrice'] <= 0]
print(f"S·ªë l∆∞·ª£ng d√≤ng c√≥ UnitPrice <= 0: {len(invalid_price)} ({len(invalid_price)/len(df)*100:.2f}%)")
print(f" - UnitPrice < 0: {(df['UnitPrice'] < 0).sum()}")
print(f" - UnitPrice = 0: {(df['UnitPrice'] == 0).sum()}")

# Hi·ªÉn th·ªã m·ªôt v√†i v√≠ d·ª•
print("\n--- V√≠ d·ª• d·ªØ li·ªáu Quantity <= 0 ---")
display(negative_quantity[['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'UnitPrice', 'CustomerID']].head())

print("\n--- V√≠ d·ª• d·ªØ li·ªáu UnitPrice <= 0 ---")
display(invalid_price[['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'UnitPrice', 'CustomerID']].head())

--- Ki·ªÉm tra Quantity ---
S·ªë l∆∞·ª£ng d√≤ng c√≥ Quantity <= 0: 10624 (1.96%)
Trong ƒë√≥ s·ªë l∆∞·ª£ng ƒë∆°n h√†ng c√≥ InvoiceNo ch·ª©a 'C' (Cancelled): 9288

--- Ki·ªÉm tra UnitPrice ---
S·ªë l∆∞·ª£ng d√≤ng c√≥ UnitPrice <= 0: 2517 (0.46%)
 - UnitPrice < 0: 2
 - UnitPrice = 0: 2515

--- V√≠ d·ª• d·ªØ li·ªáu Quantity <= 0 ---

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,CustomerID
141,C536379,D,Discount,-1,27.50,14527.0
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,4.65,15311.0
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,1.65,17548.0
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,0.29,17548.0
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,0.29,17548.0

--- V√≠ d·ª• d·ªØ li·ªáu UnitPrice <= 0 ---

     InvoiceNo StockCode Description  Quantity  UnitPrice  CustomerID
622     536414     22139         NaN        56        0.0         NaN
1970    536545     21134         NaN         1        0.0         NaN
1971    536546     22145         NaN         1        0.0         NaN
1972    536547     37509         NaN         1        0.0         NaN
1987    536549    85226A         NaN         1        0.0         NaN

### Nh·∫≠n x√©t v·ªÅ d·ªØ li·ªáu Quantity v√† UnitPrice:

1.  **Quantity <= 0**:
    *   C√≥ m·ªôt l∆∞·ª£ng ƒë√°ng k·ªÉ c√°c d√≤ng c√≥ `Quantity` √¢m.
    *   ƒêa s·ªë c√°c tr∆∞·ªùng h·ª£p n√†y th∆∞·ªùng ƒëi k√®m v·ªõi `InvoiceNo` b·∫Øt ƒë·∫ßu b·∫±ng ch·ªØ 'C', bi·ªÉu th·ªã cho c√°c ƒë∆°n h√†ng b·ªã h·ªßy (Cancelled transactions).
    *   Tuy nhi√™n, c≈©ng c√≥ th·ªÉ t·ªìn t·∫°i c√°c tr∆∞·ªùng h·ª£p ƒëi·ªÅu ch·ªânh kho ho·∫∑c l·ªói kh√°c kh√¥ng ph·∫£i ƒë∆°n h·ªßy, ho·∫∑c h√†ng tr·∫£ v·ªÅ l√†m ·∫£nh h∆∞·ªüng x·∫•u t·ªõi doanh thu

2.  **UnitPrice <= 0**:
    *   C√°c tr∆∞·ªùng h·ª£p `UnitPrice = 0` th∆∞·ªùng l√† qu√† t·∫∑ng, h√†ng m·∫´u, ho·∫∑c l·ªói nh·∫≠p li·ªáu (kh√¥ng c√≥ gi√°).
    *   C√°c tr∆∞·ªùng h·ª£p `UnitPrice < 0` (n·∫øu c√≥) th∆∞·ªùng r·∫•t hi·∫øm v√† th∆∞·ªùng li√™n quan ƒë·∫øn vi·ªác ƒëi·ªÅu ch·ªânh n·ª£ x·∫•u (Bad Debt Adjustment) Ho·∫∑c t√¨m hi·ªÉu tr√™n kaggle l√† h√†ng ƒë∆∞·ª£c tr·∫£ v·ªÅ, c√°c s·∫£n ph·∫©m mi·ªÖn ph√≠ ƒë·∫∑t chung v·ªõi c√°c s·∫£n ph·∫©m kh√°c

**H√†nh ƒë·ªông ƒë·ªÅ xu·∫•t:**
*   ƒê·ªëi v·ªõi b√†i to√°n ph√¢n t√≠ch doanh thu b√°n h√†ng th√¥ng th∆∞·ªùng, ch√∫ng ta n√™n **lo·∫°i b·ªè** c√°c d√≤ng c√≥ `Quantity <= 0` (ƒë∆°n h·ªßy) v√† `UnitPrice <= 0` ƒë·ªÉ tr√°nh l√†m sai l·ªách k·∫øt qu·∫£ t√≠nh to√°n doanh thu.
*   Tuy nhi√™n, n·∫øu b√†i to√°n y√™u c·∫ßu ph√¢n t√≠ch t·ª∑ l·ªá h·ªßy ƒë∆°n, ta c·∫ßn gi·ªØ l·∫°i c√°c d√≤ng `Quantity < 0`.

## InvoiceNo c√≥ d·∫°ng s·ªë, kh√¥ng c√≥ k√Ω t·ª± l·∫°

In [12]:
# Chuy·ªÉn InvoiceNo sang d·∫°ng string ƒë·ªÉ x·ª≠ l√Ω
df['InvoiceNo'] = df['InvoiceNo'].astype(str)

# T√¨m c√°c InvoiceNo kh√¥ng ph·∫£i l√† s·ªë
non_numeric_invoices = df[~df['InvoiceNo'].str.isdigit()]

print(f"T·ªïng s·ªë d√≤ng c√≥ InvoiceNo kh√¥ng ph·∫£i s·ªë: {len(non_numeric_invoices)}")

# T√°ch ra c√°c tr∆∞·ªùng h·ª£p:
# 1. B·∫Øt ƒë·∫ßu b·∫±ng 'C' (Cancellation)
c_invoices = non_numeric_invoices[non_numeric_invoices['InvoiceNo'].str.startswith('C')]
print(f" - S·ªë l∆∞·ª£ng InvoiceNo b·∫Øt ƒë·∫ßu b·∫±ng 'C' (Cancellation): {len(c_invoices)}")

# 2. C√°c tr∆∞·ªùng h·ª£p l·∫° kh√°c (kh√¥ng ph·∫£i s·ªë, kh√¥ng b·∫Øt ƒë·∫ßu b·∫±ng 'C')
strange_invoices = non_numeric_invoices[~non_numeric_invoices['InvoiceNo'].str.startswith('C')]
print(f" - S·ªë l∆∞·ª£ng InvoiceNo c√≥ k√Ω t·ª± l·∫° (kh√¥ng ph·∫£i 'C'): {len(strange_invoices)}")

if len(strange_invoices) > 0:
    print("\n--- C√°c gi√° tr·ªã InvoiceNo l·∫° ---")
    print(strange_invoices['InvoiceNo'].unique())
    display(strange_invoices.head())
else:
    print("\n=> Ngo√†i c√°c ƒë∆°n h·ªßy (ch·ª©a 'C'), kh√¥ng c√≥ InvoiceNo d·∫°ng l·∫° n√†o kh√°c.")

T·ªïng s·ªë d√≤ng c√≥ InvoiceNo kh√¥ng ph·∫£i s·ªë: 9291
 - S·ªë l∆∞·ª£ng InvoiceNo b·∫Øt ƒë·∫ßu b·∫±ng 'C' (Cancellation): 9288
 - S·ªë l∆∞·ª£ng InvoiceNo c√≥ k√Ω t·ª± l·∫° (kh√¥ng ph·∫£i 'C'): 3

--- C√°c gi√° tr·ªã InvoiceNo l·∫° ---
['A563185' 'A563186' 'A563187']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
299982,A563185,B,Adjust bad debt,1,2011-08-12 14:50:00,11062.06,NaN,United Kingdom
299983,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom
299984,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom

### Nh·∫≠n x√©t v·ªÅ InvoiceNo:

*   **ƒêa s·ªë InvoiceNo l√† d·∫°ng s·ªë**: ƒê√¢y l√† c√°c ƒë∆°n h√†ng b√¨nh th∆∞·ªùng.
*   **C√°c InvoiceNo ch·ª©a k√Ω t·ª±**:
    *   Ch·ªß y·∫øu l√† c√°c m√£ b·∫Øt ƒë·∫ßu b·∫±ng **'C'**, ƒë·∫°i di·ªán cho ƒë∆°n h√†ng b·ªã h·ªßy (Cancelled). ƒêi·ªÅu n√†y ph√π h·ª£p v·ªõi quy t·∫Øc nghi·ªáp v·ª•.
    *   N·∫øu xu·∫•t hi·ªán c√°c k√Ω t·ª± kh√°c (v√≠ d·ª• 'A', 'B' ho·∫∑c k√Ω t·ª± ƒë·∫∑c bi·ªát), c·∫ßn ki·ªÉm tra k·ªπ xem ƒë√≥ l√† l·ªói nh·∫≠p li·ªáu hay m√£ nghi·ªáp v·ª• ƒë·∫∑c bi·ªát (v√≠ d·ª•: ƒëi·ªÅu ch·ªânh kho, h√†ng m·∫´u).

## Ki·ªÉm tra country list c√≥ h·ª£p l·ªá

In [16]:
# L·∫•y danh s√°ch c√°c qu·ªëc gia duy nh·∫•t v√† s·∫Øp x·∫øp
unique_countries = sorted(df['Country'].dropna().unique().astype(str))
print(f"T·ªïng s·ªë qu·ªëc gia/khu v·ª±c: {len(unique_countries)}")

print("\n--- Danh s√°ch to√†n b·ªô qu·ªëc gia ---")
print(unique_countries)

# Th·ªëng k√™ s·ªë l∆∞·ª£ng b·∫£n ghi theo t·ª´ng qu·ªëc gia
print("\n--- Th·ªëng k√™ s·ªë l∆∞·ª£ng b·∫£n ghi (Top 10) ---")
print(df['Country'].value_counts().head(10))

# Ki·ªÉm tra c√°c gi√° tr·ªã "l·∫°" ho·∫∑c kh√¥ng x√°c ƒë·ªãnh
print("\n--- Ki·ªÉm tra c√°c gi√° tr·ªã ƒë·∫∑c bi·ªát ---")
potential_issues = ['Unspecified', 'European Community', 'Channel Islands', 'EIRE', 'RSA']
found_issues = df[df['Country'].isin(potential_issues)]['Country'].value_counts()

if not found_issues.empty:
    print("T√¨m th·∫•y c√°c gi√° tr·ªã c·∫ßn l∆∞u √Ω:")
    print(found_issues)
else:
    print("Kh√¥ng t√¨m th·∫•y c√°c gi√° tr·ªã ƒë·∫∑c bi·ªát trong danh s√°ch ki·ªÉm tra.")

T·ªïng s·ªë qu·ªëc gia/khu v·ª±c: 38

--- Danh s√°ch to√†n b·ªô qu·ªëc gia ---
[np.str_('Australia'), np.str_('Austria'), np.str_('Bahrain'), np.str_('Belgium'), np.str_('Brazil'), np.str_('Canada'), np.str_('Channel Islands'), np.str_('Cyprus'), np.str_('Czech Republic'), np.str_('Denmark'), np.str_('EIRE'), np.str_('European Community'), np.str_('Finland'), np.str_('France'), np.str_('Germany'), np.str_('Greece'), np.str_('Hong Kong'), np.str_('Iceland'), np.str_('Israel'), np.str_('Italy'), np.str_('Japan'), np.str_('Lebanon'), np.str_('Lithuania'), np.str_('Malta'), np.str_('Netherlands'), np.str_('Norway'), np.str_('Poland'), np.str_('Portugal'), np.str_('RSA'), np.str_('Saudi Arabia'), np.str_('Singapore'), np.str_('Spain'), np.str_('Sweden'), np.str_('Switzerland'), np.str_('USA'), np.str_('United Arab Emirates'), np.str_('United Kingdom'), np.str_('Unspecified')]

--- Th·ªëng k√™ s·ªë l∆∞·ª£ng b·∫£n ghi (Top 10) ---
Country
United Kingdom    495478
Germany             9495
France              8557
EIRE                8196
Spain               2533
Netherlands         2371
Belgium             2069
Switzerland         2002
Portugal            1519
Australia           1259
Name: count, dtype: int64

--- Ki·ªÉm tra c√°c gi√° tr·ªã ƒë·∫∑c bi·ªát ---
T√¨m th·∫•y c√°c gi√° tr·ªã c·∫ßn l∆∞u √Ω:
Country
EIRE                  8196
Channel Islands        758
Unspecified            446
European Community      61
RSA                     58
Name: count, dtype: int64

### Nh·∫≠n x√©t v·ªÅ Country:

1.  **ƒêa d·∫°ng qu·ªëc gia**: D·ªØ li·ªáu bao g·ªìm kh√°ch h√†ng t·ª´ nhi·ªÅu qu·ªëc gia kh√°c nhau.
2.  **Ph√¢n b·ªë**: **United Kingdom** chi·∫øm t·ª∑ tr·ªçng √°p ƒë·∫£o v·ªÅ s·ªë l∆∞·ª£ng b·∫£n ghi.
3.  **C√°c gi√° tr·ªã ƒë·∫∑c bi·ªát c·∫ßn l∆∞u √Ω**:
    *   **'Unspecified'**: C√≥ c√°c b·∫£n ghi kh√¥ng x√°c ƒë·ªãnh ƒë∆∞·ª£c qu·ªëc gia. C·∫ßn quy·∫øt ƒë·ªãnh x·ª≠ l√Ω (lo·∫°i b·ªè ho·∫∑c gi·ªØ nguy√™n t√πy m·ª•c ƒë√≠ch).
    *   **'EIRE'**: L√† t√™n g·ªçi kh√°c c·ªßa Ireland (C·ªông h√≤a Ireland). ƒê√¢y l√† gi√° tr·ªã h·ª£p l·ªá.
    *   **'RSA'**: Vi·∫øt t·∫Øt c·ªßa Republic of South Africa (Nam Phi). H·ª£p l·ªá.
    *   **'Channel Islands'**: Qu·∫ßn ƒë·∫£o Channel. H·ª£p l·ªá.
    *   **'European Community'**: C·ªông ƒë·ªìng Ch√¢u √Çu (c≈©). H·ª£p l·ªá v·ªÅ m·∫∑t l·ªãch s·ª≠ d·ªØ li·ªáu.

**K·∫øt lu·∫≠n**: Danh s√°ch qu·ªëc gia nh√¨n chung h·ª£p l·ªá, kh√¥ng c√≥ l·ªói ch√≠nh t·∫£ nghi√™m tr·ªçng (nh∆∞ 'U.K.', 'United Kingdon'...). Ch·ªâ c·∫ßn l∆∞u √Ω x·ª≠ l√Ω nh√≥m 'Unspecified' n·∫øu c·∫ßn thi·∫øt.

# Subtask 1.4: T√¨m v√† xo√° duplicate

In [19]:
# Subtask 1.2b: X·ª≠ l√Ω Duplicates (N√™n l√†m tr∆∞·ªõc khi x·ª≠ l√Ω Missing)
print("--- Ki·ªÉm tra v√† X·ª≠ l√Ω Duplicates ---")

# 1. Ki·ªÉm tra s·ªë l∆∞·ª£ng d√≤ng tr√πng l·∫∑p
duplicate_count = df.duplicated().sum()
print(f"S·ªë l∆∞·ª£ng d√≤ng tr√πng l·∫∑p (Duplicates): {duplicate_count} ({duplicate_count/len(df)*100:.2f}%)")

if duplicate_count > 0:
    # Xem qua m·ªôt v√†i d√≤ng tr√πng l·∫∑p
    print("\nV√≠ d·ª• c√°c d√≤ng tr√πng l·∫∑p:")
    display(df[df.duplicated(keep=False)].head(6).sort_values(by=['InvoiceNo', 'StockCode']))
    
    # 2. X√≥a duplicates
    print("\nƒêang x√≥a duplicates...")
    df.drop_duplicates(inplace=True)
    print(f"ƒê√£ x√≥a xong. K√≠ch th∆∞·ªõc d·ªØ li·ªáu hi·ªán t·∫°i: {df.shape}")
else:
    print("D·ªØ li·ªáu kh√¥ng c√≥ d√≤ng tr√πng l·∫∑p.")

--- Ki·ªÉm tra v√† X·ª≠ l√Ω Duplicates ---
S·ªë l∆∞·ª£ng d√≤ng tr√πng l·∫∑p (Duplicates): 5268 (0.97%)

V√≠ d·ª• c√°c d√≤ng tr√πng l·∫∑p:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Description_Filled
494,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0,United Kingdom,UNION JACK FLAG LUGGAGE TAG
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908.0,United Kingdom,UNION JACK FLAG LUGGAGE TAG
485,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908.0,United Kingdom,SCOTTIE DOG HOT WATER BOTTLE
489,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.0,United Kingdom,HAND WARMER SCOTTY DOG DESIGN
527,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908.0,United Kingdom,HAND WARMER SCOTTY DOG DESIGN
521,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908.0,United Kingdom,SET 2 TEA TOWELS I LOVE LONDON

ƒêang x√≥a duplicates...
ƒê√£ x√≥a xong. K√≠ch th∆∞·ªõc d·ªØ li·ªáu hi·ªán t·∫°i: (536641, 9)

# Subtask 1.3: Missing value

## Ki·ªÉm tra missing trong: Description / CustomerID / UnitPrice

Note: missing data l√† nh·ªØng gi√° tr·ªã b·ªã thi·∫øu trong dataset

In [20]:
# Ki·ªÉm tra missing values cho c√°c c·ªôt quan tr·ªçng
missing_cols = ['Description', 'CustomerID', 'UnitPrice']

print("--- Th·ªëng k√™ Missing Values ---")
for col in missing_cols:
    missing_count = df[col].isna().sum()
    total_count = len(df)
    print(f"{col}: {missing_count} missing ({missing_count/total_count*100:.2f}%)")

# Ki·ªÉm tra m·ªëi li√™n h·ªá gi·ªØa Description missing v√† CustomerID missing
missing_desc_cust = df[df['Description'].isna() & df['CustomerID'].isna()]
print(f"\nS·ªë l∆∞·ª£ng d√≤ng missing c·∫£ Description v√† CustomerID: {len(missing_desc_cust)}")

# Hi·ªÉn th·ªã m·∫´u d·ªØ li·ªáu b·ªã missing CustomerID
print("\n--- M·∫´u d·ªØ li·ªáu missing CustomerID ---")
display(df[df['CustomerID'].isna()].head())

# Hi·ªÉn th·ªã m·∫´u d·ªØ li·ªáu b·ªã missing Description
print("\n--- M·∫´u d·ªØ li·ªáu missing Description ---")
display(df[df['Description'].isna()].head())

--- Th·ªëng k√™ Missing Values ---
Description: 1454 missing (0.27%)
CustomerID: 135037 missing (25.16%)
UnitPrice: 0 missing (0.00%)

S·ªë l∆∞·ª£ng d√≤ng missing c·∫£ Description v√† CustomerID: 1454

--- M·∫´u d·ªØ li·ªáu missing CustomerID ---

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Description_Filled
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.00,NaN,United Kingdom,RETROSPOT TEA SET CERAMIC 11 PC
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,2010-12-01 14:32:00,2.51,NaN,United Kingdom,DECORATIVE ROSE BATHROOM BOTTLE
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,2010-12-01 14:32:00,2.51,NaN,United Kingdom,DECORATIVE CATS BATHROOM BOTTLE
1445,536544,21786,POLKADOT RAIN HAT,4,2010-12-01 14:32:00,0.85,NaN,United Kingdom,POLKADOT RAIN HAT
1446,536544,21787,RAIN PONCHO RETROSPOT,2,2010-12-01 14:32:00,1.66,NaN,United Kingdom,RAIN PONCHO RETROSPOT

--- M·∫´u d·ªØ li·ªáu missing Description ---

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Description_Filled
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.0,NaN,United Kingdom,RETROSPOT TEA SET CERAMIC 11 PC
1970,536545,21134,NaN,1,2010-12-01 14:32:00,0.0,NaN,United Kingdom,NaN
1971,536546,22145,NaN,1,2010-12-01 14:33:00,0.0,NaN,United Kingdom,CHRISTMAS CRAFT HEART STOCKING
1972,536547,37509,NaN,1,2010-12-01 14:33:00,0.0,NaN,United Kingdom,NEW ENGLAND MUG W GIFT BOX
1987,536549,85226A,NaN,1,2010-12-01 14:34:00,0.0,NaN,United Kingdom,NaN

### Nh·∫≠n x√©t v·ªÅ Missing Values:

1.  **UnitPrice**:
    *   **Kh√¥ng c√≥ missing value (0%)**. D·ªØ li·ªáu gi√° c·∫£ ƒë·∫ßy ƒë·ªß.

2.  **Description**:
    *   C√≥ 1,454 d√≤ng b·ªã missing (0.27%).
    *   **ƒê·∫∑c ƒëi·ªÉm quan tr·ªçng**: T·∫•t c·∫£ c√°c d√≤ng thi·∫øu `Description` ƒë·ªÅu c≈©ng thi·∫øu `CustomerID`. ƒêi·ªÅu n√†y cho th·∫•y ƒë√¢y c√≥ th·ªÉ l√† c√°c giao d·ªãch l·ªói h·ªá th·ªëng ho·∫∑c kh√¥ng h·ª£p l·ªá ngay t·ª´ ƒë·∫ßu.
    *   **X·ª≠ l√Ω**: N√™n lo·∫°i b·ªè c√°c d√≤ng n√†y v√¨ thi·∫øu th√¥ng tin s·∫£n ph·∫©m.

3.  **CustomerID**:
    *   T·ª∑ l·ªá missing kh√° cao: 135,080 d√≤ng (24.93%).
    *   Bao g·ªìm c·∫£ 1,454 d√≤ng thi·∫øu Description ·ªü tr√™n.
    *   **√ù nghƒ©a**: ƒê√¢y l√† c√°c giao d·ªãch c·ªßa kh√°ch v√£ng lai (kh√¥ng ƒëƒÉng nh·∫≠p/kh√¥ng c√≥ m√£ th√†nh vi√™n).
    *   **X·ª≠ l√Ω**:
        *   N·∫øu ph√¢n t√≠ch **Doanh thu t·ªïng**: Gi·ªØ l·∫°i.
        *   N·∫øu ph√¢n t√≠ch **H√†nh vi kh√°ch h√†ng (RFM)**: Bu·ªôc ph·∫£i lo·∫°i b·ªè v√¨ kh√¥ng ƒë·ªãnh danh ƒë∆∞·ª£c kh√°ch h√†ng.

## X·ª≠ l√Ω trong CustomerID v√† Description

In [21]:
# --- 1. X·ª≠ l√Ω Description Missing ---
# Chi·∫øn l∆∞·ª£c: ƒêi·ªÅn Description b·ªã thi·∫øu d·ª±a tr√™n StockCode t∆∞∆°ng ·ª©ng (n·∫øu c√≥)
print("ƒêang x·ª≠ l√Ω Description missing...")

# T·∫°o t·ª´ ƒëi·ªÉn √°nh x·∫° StockCode -> Description (l·∫•y gi√° tr·ªã xu·∫•t hi·ªán nhi·ªÅu nh·∫•t - mode)
stock_desc_map = df.dropna(subset=['Description']).groupby('StockCode')['Description'].agg(lambda x: x.mode()[0] if not x.mode().empty else np.nan).to_dict()

# Fill missing Description
df['Description_Filled'] = df['Description'].fillna(df['StockCode'].map(stock_desc_map))

# Ki·ªÉm tra k·∫øt qu·∫£ fill
missing_before = df['Description'].isna().sum()
missing_after = df['Description_Filled'].isna().sum()
print(f" - Description missing ban ƒë·∫ßu: {missing_before}")
print(f" - Description missing sau khi fill theo StockCode: {missing_after}")
print(f" - ƒê√£ kh√¥i ph·ª•c ƒë∆∞·ª£c: {missing_before - missing_after} d√≤ng")

# C·∫≠p nh·∫≠t l·∫°i dataframe (lo·∫°i b·ªè c√°c d√≤ng v·∫´n kh√¥ng c√≥ Description)
df_clean = df.dropna(subset=['Description_Filled']).copy()
df_clean['Description'] = df_clean['Description_Filled']
df_clean.drop(columns=['Description_Filled'], inplace=True)
print(f"=> K√≠ch th∆∞·ªõc d·ªØ li·ªáu sau khi x·ª≠ l√Ω Description: {df_clean.shape}")


# --- 2. T·∫°o c√°c b·ªô d·ªØ li·ªáu chuy√™n bi·ªát (Data Splitting) ---
print("\nƒêang t·∫°o c√°c b·ªô d·ªØ li·ªáu cho m·ª•c ƒë√≠ch ph√¢n t√≠ch kh√°c nhau...")

# Dataset A: D√†nh cho Ph√¢n t√≠ch Doanh thu & S·∫£n ph·∫©m (Revenue & Product Analysis)
# ƒê·∫∑c ƒëi·ªÉm: Gi·ªØ l·∫°i t·∫•t c·∫£ giao d·ªãch (bao g·ªìm kh√°ch v√£ng lai) ƒë·ªÉ t√≠nh t·ªïng doanh s·ªë ch√≠nh x√°c.
df_revenue = df_clean.copy()
df_revenue['CustomerID'] = df_revenue['CustomerID'].fillna('Guest') # G√°n nh√£n Guest cho kh√°ch v√£ng lai
print(f"\n1. Dataset 'df_revenue' (Ph√¢n t√≠ch Doanh thu): {df_revenue.shape}")
print("   - Tr·∫°ng th√°i CustomerID: ƒê√£ fill 'Guest' cho c√°c gi√° tr·ªã thi·∫øu.")
print("   - M·ª•c ƒë√≠ch: T√≠nh t·ªïng doanh thu, xu h∆∞·ªõng b√°n h√†ng, hi·ªáu su·∫•t s·∫£n ph·∫©m.")

# Dataset B: D√†nh cho Ph√¢n t√≠ch Kh√°ch h√†ng (Customer Analysis - RFM)
# ƒê·∫∑c ƒëi·ªÉm: Ch·ªâ gi·ªØ l·∫°i c√°c giao d·ªãch c√≥ CustomerID ƒë·ªãnh danh ƒë·ªÉ ph√¢n t√≠ch h√†nh vi.
df_customer = df_clean.dropna(subset=['CustomerID']).copy()
# Chuy·ªÉn CustomerID v·ªÅ d·∫°ng int cho s·∫°ch ƒë·∫πp
df_customer['CustomerID'] = df_customer['CustomerID'].astype(int)
print(f"\n2. Dataset 'df_customer' (Ph√¢n t√≠ch Kh√°ch h√†ng): {df_customer.shape}")
print("   - Tr·∫°ng th√°i CustomerID: ƒê√£ lo·∫°i b·ªè c√°c d√≤ng missing.")
print("   - M·ª•c ƒë√≠ch: Ph√¢n t√≠ch RFM, Customer Segmentation, Cohort Analysis.")

ƒêang x·ª≠ l√Ω Description missing...
 - Description missing ban ƒë·∫ßu: 1454
 - Description missing sau khi fill theo StockCode: 112
 - ƒê√£ kh√¥i ph·ª•c ƒë∆∞·ª£c: 1342 d√≤ng
=> K√≠ch th∆∞·ªõc d·ªØ li·ªáu sau khi x·ª≠ l√Ω Description: (536529, 8)

ƒêang t·∫°o c√°c b·ªô d·ªØ li·ªáu cho m·ª•c ƒë√≠ch ph√¢n t√≠ch kh√°c nhau...

1. Dataset 'df_revenue' (Ph√¢n t√≠ch Doanh thu): (536529, 8)
   - Tr·∫°ng th√°i CustomerID: ƒê√£ fill 'Guest' cho c√°c gi√° tr·ªã thi·∫øu.
   - M·ª•c ƒë√≠ch: T√≠nh t·ªïng doanh thu, xu h∆∞·ªõng b√°n h√†ng, hi·ªáu su·∫•t s·∫£n ph·∫©m.

2. Dataset 'df_customer' (Ph√¢n t√≠ch Kh√°ch h√†ng): (401604, 8)
   - Tr·∫°ng th√°i CustomerID: ƒê√£ lo·∫°i b·ªè c√°c d√≤ng missing.
   - M·ª•c ƒë√≠ch: Ph√¢n t√≠ch RFM, Customer Segmentation, Cohort Analysis.
 - Description missing ban ƒë·∫ßu: 1454
 - Description missing sau khi fill theo StockCode: 112
 - ƒê√£ kh√¥i ph·ª•c ƒë∆∞·ª£c: 1342 d√≤ng
=> K√≠ch th∆∞·ªõc d·ªØ li·ªáu sau khi x·ª≠ l√Ω Description: (536529, 8)

ƒêang t·∫°o c√°c b·ªô d·ªØ li·ªáu cho m·ª•c ƒë√≠ch ph√¢n t√≠ch kh√°c nhau...

1. Dataset 'df_revenue' (Ph√¢n t√≠ch Doanh thu): (536529, 8)
   - Tr·∫°ng th√°i CustomerID: ƒê√£ fill 'Guest' cho c√°c gi√° tr·ªã thi·∫øu.
   - M·ª•c ƒë√≠ch: T√≠nh t·ªïng doanh thu, xu h∆∞·ªõng b√°n h√†ng, hi·ªáu su·∫•t s·∫£n ph·∫©m.

2. Dataset 'df_customer' (Ph√¢n t√≠ch Kh√°ch h√†ng): (401604, 8)
   - Tr·∫°ng th√°i CustomerID: ƒê√£ lo·∫°i b·ªè c√°c d√≤ng missing.
   - M·ª•c ƒë√≠ch: Ph√¢n t√≠ch RFM, Customer Segmentation, Cohort Analysis.

### K·∫øt qu·∫£ x·ª≠ l√Ω Missing Data:

Ch√∫ng ta ƒë√£ t·∫°o ra 2 b·ªô d·ªØ li·ªáu ri√™ng bi·ªát ƒë·ªÉ ph·ª•c v·ª• "ph√¢n t√≠ch to√†n di·ªán":

1.  **`df_revenue`**:
    *   **X·ª≠ l√Ω**: Gi·ªØ l·∫°i c√°c d√≤ng thi·∫øu `CustomerID` v√† g√°n nh√£n l√† "Guest".
    *   **L√Ω do**: Ti·ªÅn c·ªßa kh√°ch v√£ng lai v·∫´n l√† doanh thu th·ª±c t·∫ø. N·∫øu lo·∫°i b·ªè, ta s·∫Ω l√†m s·ª•t gi·∫£m t·ªïng doanh thu v√† sai l·ªách c√°c b√°o c√°o v·ªÅ xu h∆∞·ªõng b√°n h√†ng (Trend) ho·∫∑c ƒë·ªô ph·ªï bi·∫øn c·ªßa s·∫£n ph·∫©m.
    *   **S·ª≠ d·ª•ng cho**: Dashboard doanh thu, Time-series analysis, Product performance.

2.  **`df_customer`**:
    *   **X·ª≠ l√Ω**: Lo·∫°i b·ªè ho√†n to√†n c√°c d√≤ng thi·∫øu `CustomerID`.
    *   **L√Ω do**: ƒê·ªÉ ph√¢n t√≠ch h√†nh vi (ai mua g√¨, quay l·∫°i bao l√¢u m·ªôt l·∫ßn), ta b·∫Øt bu·ªôc ph·∫£i bi·∫øt "ai" ƒë√≥ l√† ai. D·ªØ li·ªáu "Guest" kh√¥ng c√≥ gi√° tr·ªã trong vi·ªác ph√¢n t√≠ch l√≤ng trung th√†nh hay c√° nh√¢n h√≥a.
    *   **S·ª≠ d·ª•ng cho**: M√¥ h√¨nh RFM, Ph√¢n kh√∫c kh√°ch h√†ng (Segmentation), D·ª± ƒëo√°n Customer Lifetime Value (CLV).

Ngo√†i ra, c·ªôt `Description` ƒë√£ ƒë∆∞·ª£c kh√¥i ph·ª•c m·ªôt ph·∫ßn d·ª±a tr√™n `StockCode` ƒë·ªÉ gi·∫£m thi·ªÉu m·∫•t m√°t d·ªØ li·ªáu.

# Subtask 1.5: L√†m s·∫°ch nghi·ªáp v·ª•

In [22]:
print("--- B·∫Øt ƒë·∫ßu l√†m s·∫°ch nghi·ªáp v·ª• ---")

# Quy t·∫Øc:
# 1. Lo·∫°i b·ªè ƒë∆°n h·ªßy (InvoiceNo ch·ª©a 'C') -> Th∆∞·ªùng t∆∞∆°ng ƒë∆∞∆°ng Quantity < 0
# 2. Lo·∫°i b·ªè Quantity <= 0
# 3. Lo·∫°i b·ªè UnitPrice <= 0

def clean_business_logic(df_input, name):
    initial_rows = len(df_input)
    
    # L·ªçc d·ªØ li·ªáu h·ª£p l·ªá: Quantity > 0 v√† UnitPrice > 0
    df_valid = df_input[(df_input['Quantity'] > 0) & (df_input['UnitPrice'] > 0)].copy()
    
    removed_rows = initial_rows - len(df_valid)
    print(f"Dataset '{name}':")
    print(f" - Tr∆∞·ªõc khi l·ªçc: {initial_rows} d√≤ng")
    print(f" - Sau khi l·ªçc (Quantity > 0, Price > 0): {len(df_valid)} d√≤ng")
    print(f" - ƒê√£ lo·∫°i b·ªè: {removed_rows} d√≤ng ({removed_rows/initial_rows*100:.2f}%)")
    print("-" * 30)
    return df_valid

# √Åp d·ª•ng cho df_revenue (D√πng cho ph√¢n t√≠ch doanh s·ªë, s·∫£n ph·∫©m)
df_revenue_clean = clean_business_logic(df_revenue, "df_revenue")

# √Åp d·ª•ng cho df_customer (D√πng cho RFM, ph√¢n kh√∫c kh√°ch h√†ng)
df_customer_clean = clean_business_logic(df_customer, "df_customer")

# (T√πy ch·ªçn) L∆∞u ri√™ng d·ªØ li·ªáu ƒë∆°n h·ªßy ƒë·ªÉ ph√¢n t√≠ch l√Ω do tr·∫£ h√†ng sau n√†y
df_cancelled = df[df['InvoiceNo'].str.startswith('C', na=False)]
print(f"L∆∞u ri√™ng {len(df_cancelled)} giao d·ªãch h·ªßy (Cancelled) v√†o 'df_cancelled' ƒë·ªÉ ph√¢n t√≠ch t·ª∑ l·ªá ho√†n tr·∫£.")

print("\n=> K·∫æT QU·∫¢ CU·ªêI C√ôNG:")
print("1. df_revenue_clean: D·ªØ li·ªáu s·∫°ch ƒë·ªÉ t√≠nh Doanh thu/S·∫£n ph·∫©m (Bao g·ªìm c·∫£ kh√°ch v√£ng lai).")
print("2. df_customer_clean: D·ªØ li·ªáu s·∫°ch ƒë·ªÉ ph√¢n t√≠ch H√†nh vi kh√°ch h√†ng (Ch·ªâ kh√°ch c√≥ ƒë·ªãnh danh).")
print("3. df_cancelled: D·ªØ li·ªáu c√°c ƒë∆°n h√†ng b·ªã tr·∫£ l·∫°i.")
# ...existing code...

--- B·∫Øt ƒë·∫ßu l√†m s·∫°ch nghi·ªáp v·ª• ---
Dataset 'df_revenue':
 - Tr∆∞·ªõc khi l·ªçc: 536529 d√≤ng
 - Sau khi l·ªçc (Quantity > 0, Price > 0): 524878 d√≤ng
 - ƒê√£ lo·∫°i b·ªè: 11651 d√≤ng (2.17%)
------------------------------
Dataset 'df_customer':
 - Tr∆∞·ªõc khi l·ªçc: 401604 d√≤ng
 - Sau khi l·ªçc (Quantity > 0, Price > 0): 392692 d√≤ng
 - ƒê√£ lo·∫°i b·ªè: 8912 d√≤ng (2.22%)
------------------------------
L∆∞u ri√™ng 9251 giao d·ªãch h·ªßy (Cancelled) v√†o 'df_cancelled' ƒë·ªÉ ph√¢n t√≠ch t·ª∑ l·ªá ho√†n tr·∫£.

=> K·∫æT QU·∫¢ CU·ªêI C√ôNG:
1. df_revenue_clean: D·ªØ li·ªáu s·∫°ch ƒë·ªÉ t√≠nh Doanh thu/S·∫£n ph·∫©m (Bao g·ªìm c·∫£ kh√°ch v√£ng lai).
2. df_customer_clean: D·ªØ li·ªáu s·∫°ch ƒë·ªÉ ph√¢n t√≠ch H√†nh vi kh√°ch h√†ng (Ch·ªâ kh√°ch c√≥ ƒë·ªãnh danh).
3. df_cancelled: D·ªØ li·ªáu c√°c ƒë∆°n h√†ng b·ªã tr·∫£ l·∫°i.

# Subtaks 1.6: Feature engineering

 ### V√¨ sao c·∫ßn ?

 D·ªØ li·ªáu (InvoiceNo, StockCode, Quantity, UnitPrice, InvoiceDate, CustomerID, Country) l√† d·ªØ li·ªáu th√¥ (Raw Data). ƒê·ªÉ ph√¢n t√≠ch s√¢u h∆°n ho·∫∑c ch·∫°y m√¥ h√¨nh Machine Learning, b·∫°n c·∫ßn t·∫°o ra c√°c ƒë·∫∑c tr∆∞ng (features) m·ªõi mang nhi·ªÅu √Ω nghƒ©a th√¥ng tin h∆°n.



#### 1 T√≠nh TotalAmount (Doanh thu d√≤ng):

T·∫°i sao: D·ªØ li·ªáu g·ªëc ch·ªâ c√≥ Quantity v√† UnitPrice. Nh√¢n ch√∫ng l·∫°i ƒë·ªÉ bi·∫øt gi√° tr·ªã th·ª±c c·ªßa ƒë∆°n h√†ng. ƒê√¢y l√† ch·ªâ s·ªë quan tr·ªçng nh·∫•t.
C√¥ng th·ª©c: TotalAmount = Quantity * UnitPrice

#### 2 T√°ch th√¥ng tin Th·ªùi gian (InvoiceDate):
T·∫°i sao: M√°y t√≠nh kh√¥ng hi·ªÉu "ng√†y 01/12/2010" c√≥ √Ω nghƒ©a g√¨ v·ªÅ m·∫∑t xu h∆∞·ªõng, t√°ch ra:
- Year, Month: ƒê·ªÉ v·∫Ω bi·ªÉu ƒë·ªì doanh thu theo th√°ng.
- Hour: ƒê·ªÉ bi·∫øt khung gi·ªù n√†o kh√°ch mua nhi·ªÅu nh·∫•t (s√°ng hay t·ªëi).
- DayOfWeek: ƒê·ªÉ bi·∫øt ng√†y n√†o trong tu·∫ßn ƒë·∫Øt kh√°ch nh·∫•t (cu·ªëi tu·∫ßn hay trong tu·∫ßn).

#### 3 T·∫°o c·ªôt MonthYear (Th√°ng-NƒÉm):

T·∫°i sao: ƒê·ªÉ ph√¢n t√≠ch Cohort (gi·ªØ ch√¢n kh√°ch h√†ng) ho·∫∑c v·∫Ω bi·ªÉu ƒë·ªì trendline theo th√°ng m·ªôt c√°ch d·ªÖ d√†ng.

In [24]:
# Subtask 1.6: Feature Engineering (T·∫°o ƒë·∫∑c tr∆∞ng m·ªõi)
print("--- B·∫Øt ƒë·∫ßu Feature Engineering ---")

def add_features(df_input):
    df_new = df_input.copy()
    
    # 1. T√≠nh TotalAmount (Doanh thu)
    df_new['TotalAmount'] = df_new['Quantity'] * df_new['UnitPrice']
    
    # 2. T√°ch th√¥ng tin th·ªùi gian
    df_new['Year'] = df_new['InvoiceDate'].dt.year
    df_new['Month'] = df_new['InvoiceDate'].dt.month
    df_new['Day'] = df_new['InvoiceDate'].dt.day
    df_new['Hour'] = df_new['InvoiceDate'].dt.hour
    df_new['DayOfWeek'] = df_new['InvoiceDate'].dt.dayofweek # 0=Monday, 6=Sunday
    
    # 3. T·∫°o c·ªôt MonthYear (d·∫°ng YYYY-MM) ƒë·ªÉ d·ªÖ visualize
    df_new['MonthYear'] = df_new['InvoiceDate'].dt.to_period('M')
    
    return df_new

# √Åp d·ª•ng cho c·∫£ 2 b·ªô d·ªØ li·ªáu
print("ƒêang x·ª≠ l√Ω cho df_revenue_clean...")
df_revenue_clean = add_features(df_revenue_clean)

print("ƒêang x·ª≠ l√Ω cho df_customer_clean...")
df_customer_clean = add_features(df_customer_clean)

print("\n=> ƒê√£ th√™m c√°c c·ªôt m·ªõi: TotalAmount, Year, Month, Day, Hour, DayOfWeek, MonthYear")
print("\nXem m·∫´u d·ªØ li·ªáu sau khi th√™m features:")
display(df_revenue_clean[['InvoiceNo', 'Quantity', 'UnitPrice', 'TotalAmount', 'MonthYear', 'Hour', 'DayOfWeek']].head())
# ...existing code...

--- B·∫Øt ƒë·∫ßu Feature Engineering ---
ƒêang x·ª≠ l√Ω cho df_revenue_clean...
ƒêang x·ª≠ l√Ω cho df_customer_clean...

=> ƒê√£ th√™m c√°c c·ªôt m·ªõi: TotalAmount, Year, Month, Day, Hour, DayOfWeek, MonthYear

Xem m·∫´u d·ªØ li·ªáu sau khi th√™m features:

  InvoiceNo  Quantity  UnitPrice  TotalAmount MonthYear  Hour  DayOfWeek
0    536365         6       2.55        15.30   2010-12     8          2
1    536365         6       3.39        20.34   2010-12     8          2
2    536365         8       2.75        22.00   2010-12     8          2
3    536365         6       3.39        20.34   2010-12     8          2
4    536365         6       3.39        20.34   2010-12     8          2

# Subtask 1.7: L∆∞u d·ªØ li·ªáu
L∆∞u c√°c b·ªô d·ªØ li·ªáu ƒë√£ x·ª≠ l√Ω ra file CSV ƒë·ªÉ s·ª≠ d·ª•ng cho c√°c b∆∞·ªõc ph√¢n t√≠ch ti·∫øp theo.
*   `df_revenue_clean.csv`: D·ªØ li·ªáu s·∫°ch d√πng cho ph√¢n t√≠ch doanh thu.
*   `df_customer_clean.csv`: D·ªØ li·ªáu s·∫°ch d√πng cho ph√¢n t√≠ch kh√°ch h√†ng (RFM).
*   `df_cancelled.csv`: D·ªØ li·ªáu c√°c ƒë∆°n h√†ng b·ªã h·ªßy.

In [25]:
# Subtask 1.7: L∆∞u d·ªØ li·ªáu ƒë√£ l√†m s·∫°ch
import os

# T·∫°o th∆∞ m·ª•c output n·∫øu ch∆∞a c√≥
output_dir = '../data_process/cleaned_data'
os.makedirs(output_dir, exist_ok=True)

print(f"--- ƒêang l∆∞u d·ªØ li·ªáu v√†o th∆∞ m·ª•c: {output_dir} ---")

# 1. L∆∞u df_revenue_clean (D·ªØ li·ªáu ph√¢n t√≠ch doanh thu)
file_revenue = os.path.join(output_dir, 'df_revenue_clean.csv')
df_revenue_clean.to_csv(file_revenue, index=False)
print(f"‚úÖ ƒê√£ l∆∞u: {file_revenue} ({len(df_revenue_clean)} d√≤ng)")

# 2. L∆∞u df_customer_clean (D·ªØ li·ªáu ph√¢n t√≠ch kh√°ch h√†ng)
file_customer = os.path.join(output_dir, 'df_customer_clean.csv')
df_customer_clean.to_csv(file_customer, index=False)
print(f"‚úÖ ƒê√£ l∆∞u: {file_customer} ({len(df_customer_clean)} d√≤ng)")

# 3. L∆∞u df_cancelled (D·ªØ li·ªáu ƒë∆°n h·ªßy)
file_cancelled = os.path.join(output_dir, 'df_cancelled.csv')
df_cancelled.to_csv(file_cancelled, index=False)
print(f"‚úÖ ƒê√£ l∆∞u: {file_cancelled} ({len(df_cancelled)} d√≤ng)")

print("\nüéâ Ho√†n t·∫•t qu√° tr√¨nh l√†m s·∫°ch v√† l∆∞u tr·ªØ d·ªØ li·ªáu!")

--- ƒêang l∆∞u d·ªØ li·ªáu v√†o th∆∞ m·ª•c: ../data_process/cleaned_data ---
‚úÖ ƒê√£ l∆∞u: ../data_process/cleaned_data/df_revenue_clean.csv (524878 d√≤ng)
‚úÖ ƒê√£ l∆∞u: ../data_process/cleaned_data/df_revenue_clean.csv (524878 d√≤ng)
‚úÖ ƒê√£ l∆∞u: ../data_process/cleaned_data/df_customer_clean.csv (392692 d√≤ng)
‚úÖ ƒê√£ l∆∞u: ../data_process/cleaned_data/df_cancelled.csv (9251 d√≤ng)

üéâ Ho√†n t·∫•t qu√° tr√¨nh l√†m s·∫°ch v√† l∆∞u tr·ªØ d·ªØ li·ªáu!
‚úÖ ƒê√£ l∆∞u: ../data_process/cleaned_data/df_customer_clean.csv (392692 d√≤ng)
‚úÖ ƒê√£ l∆∞u: ../data_process/cleaned_data/df_cancelled.csv (9251 d√≤ng)

üéâ Ho√†n t·∫•t qu√° tr√¨nh l√†m s·∫°ch v√† l∆∞u tr·ªØ d·ªØ li·ªáu!