# Sub task 1.1

In [51]:
import pandas as pd # Standard import
import numpy as np
from datetime import datetime

data_path = '/Users/quockhoile/Desktop/DaiHoc/Cac Mo hinh DL/milestone/code/data_process/e-commerce data.csv'

# Load d·ªØ li·ªáu
df = pd.read_csv(data_path, encoding='latin-1')

print("‚úì D·ªØ li·ªáu ƒë√£ ƒë∆∞·ª£c t·∫£i th√†nh c√¥ng")

‚úì D·ªØ li·ªáu ƒë√£ ƒë∆∞·ª£c t·∫£i th√†nh c√¥ng

In [52]:
import chardet

with open(data_path, 'rb') as f:
    result = chardet.detect(f.read(500000))  # ƒë·ªçc 500KB ƒë·∫ßu ti√™n
    print(result)

{'encoding': 'ascii', 'confidence': 1.0, 'language': ''}

In [53]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

## C√¢u 1: K√≠ch th∆∞·ªõc Dataset

In [54]:
rows, cols = df.shape
print(f"üìä Dataset c√≥: {rows:,} rows x {cols} columns")

üìä Dataset c√≥: 541,909 rows x 8 columns

## C√¢u 2: T√™n c·ªôt v√† ki·ªÉu d·ªØ li·ªáu

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [56]:
# Ki·ªÉm tra t√™n c·ªôt v√† ki·ªÉu d·ªØ li·ªáu
print("üìã T√™n c·ªôt v√† ki·ªÉu d·ªØ li·ªáu:\n")
print(df.dtypes)

üìã T√™n c·ªôt v√† ki·ªÉu d·ªØ li·ªáu:

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

## C√¢u 3: Ki·ªÉm tra data th·ªùi gian

Nh·∫≠n th·∫•y d·ªØ li·ªáu Invoicedate dang ·ªü d·∫°ng obj n√™n chuy·ªÉn th√†nh datetime

In [57]:
# change InvoiceDate to datetime 12/1/2010 11:57
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['InvoiceDate']

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

In [58]:
min_date = df['InvoiceDate'].min()
max_date = df['InvoiceDate'].max()

min_date, max_date

(Timestamp('2010-12-01 08:26:00'), Timestamp('2011-12-09 12:50:00'))

D·ªØ li·ªáu n·∫±m trong kho·∫£ng ng√†y xxx 2010 - xxxx 2011

# Subtask 1.2 Data Validation

In [59]:
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [60]:
print("\nüîç Ki·ªÉm tra c√°c b·∫•t th∆∞·ªùng trong d·ªØ li·ªáu m·∫´u:\n")

anomalies = []

# 1. Ki·ªÉm tra InvoiceNo c√≥ d·∫°ng l·∫° kh√¥ng
print("1Ô∏è‚É£ InvoiceNo:")
no_inv = 0
for inv in df['InvoiceNo']:
    if pd.isna(inv):
        anomalies.append("‚ùå InvoiceNo c√≥ gi√° tr·ªã NaN")

        
if not anomalies:
    print("   ‚úì InvoiceNo c√≥ d·∫°ng b√¨nh th∆∞·ªùng (s·ªë ho·∫∑c s·ªë+C)")
else:
    for a in anomalies:
        print(f"   {a}")

# 2. Ki·ªÉm tra Quantity c√≥ √¢m kh√¥ng
print("\n2Ô∏è‚É£ Quantity:")
negative_qty = (df['Quantity'] < 0).sum()
if negative_qty > 0:
    print(f"   ‚ö†Ô∏è  T√¨m th·∫•y {negative_qty} gi√° tr·ªã Quantity √¢m")
    print(f"   V√≠ d·ª•: {df[df['Quantity'] < 0]['Quantity'].head().values}")
else:
    print("   ‚úì Kh√¥ng c√≥ gi√° tr·ªã Quantity √¢m trong d·ªØ li·ªáu")

# 3. Ki·ªÉm tra UnitPrice
print("\n3Ô∏è‚É£ UnitPrice:")
zero_price = (df['UnitPrice'] == 0).sum()
negative_price = (df['UnitPrice'] < 0).sum()

if zero_price > 0:
    print(f"   ‚ö†Ô∏è  T√¨m th·∫•y {zero_price} gi√° tr·ªã UnitPrice = 0")

if negative_price > 0:
    print(f"   ‚ö†Ô∏è  T√¨m th·∫•y {negative_price} gi√° tr·ªã UnitPrice √¢m")
    
if zero_price == 0 and negative_price == 0:
    print("   ‚úì UnitPrice h·ª£p l·ªá (kh√¥ng c√≥ 0 ho·∫∑c gi√° tr·ªã √¢m)")

üîç Ki·ªÉm tra c√°c b·∫•t th∆∞·ªùng trong d·ªØ li·ªáu m·∫´u:

1Ô∏è‚É£ InvoiceNo:
   ‚úì InvoiceNo c√≥ d·∫°ng b√¨nh th∆∞·ªùng (s·ªë ho·∫∑c s·ªë+C)

2Ô∏è‚É£ Quantity:
   ‚ö†Ô∏è  T√¨m th·∫•y 10624 gi√° tr·ªã Quantity √¢m
   V√≠ d·ª•: [ -1  -1 -12 -24 -24]

3Ô∏è‚É£ UnitPrice:
   ‚ö†Ô∏è  T√¨m th·∫•y 2515 gi√° tr·ªã UnitPrice = 0
   ‚ö†Ô∏è  T√¨m th·∫•y 2 gi√° tr·ªã UnitPrice √¢m
   ‚ö†Ô∏è  T√¨m th·∫•y 10624 gi√° tr·ªã Quantity √¢m
   V√≠ d·ª•: [ -1  -1 -12 -24 -24]

3Ô∏è‚É£ UnitPrice:
   ‚ö†Ô∏è  T√¨m th·∫•y 2515 gi√° tr·ªã UnitPrice = 0
   ‚ö†Ô∏è  T√¨m th·∫•y 2 gi√° tr·ªã UnitPrice √¢m

## C√¢u 4: Range th·ªùi gian c·ªßa InvoiceDate

In [61]:
# Chuy·ªÉn ƒë·ªïi InvoiceDate sang datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%d/%m/%Y', errors='coerce')

print("üìÖ Range th·ªùi gian c·ªßa InvoiceDate:\n")
print(f"Min: {df['InvoiceDate'].min().strftime('%d/%m/%Y')}")
print(f"Max: {df['InvoiceDate'].max().strftime('%d/%m/%Y')}")

# T√≠nh kho·∫£ng th·ªùi gian
date_range = (df['InvoiceDate'].max() - df['InvoiceDate'].min()).days
print(f"\n‚è±Ô∏è  Kho·∫£ng th·ªùi gian: {date_range} ng√†y ({date_range // 365} nƒÉm, {(date_range % 365) // 30} th√°ng)")

# Ki·ªÉm tra c√≥ ng√†y invalid kh√¥ng
invalid_dates = df['InvoiceDate'].isna().sum()
if invalid_dates > 0:
    print(f"\n‚ö†Ô∏è  T√¨m th·∫•y {invalid_dates} gi√° tr·ªã InvoiceDate kh√¥ng h·ª£p l·ªá")

üìÖ Range th·ªùi gian c·ªßa InvoiceDate:

Min: 01/12/2010
Max: 09/12/2011

‚è±Ô∏è  Kho·∫£ng th·ªùi gian: 373 ng√†y (1 nƒÉm, 0 th√°ng)

## C√¢u 5: Ki·ªÉm tra d·∫•u hi·ªáu l·∫° trong c·ªôt quan tr·ªçng

In [62]:
print("üî¨ Ki·ªÉm tra d·∫•u hi·ªáu l·∫° trong c·ªôt quan tr·ªçng:\n")
print("="*60)

# 1. Quantity √¢m
print("\n1Ô∏è‚É£ Quantity c√≥ √¢m kh√¥ng?")
negative_qty = (df['Quantity'] < 0).sum()
print(f"   T√¨m th·∫•y: {negative_qty} gi√° tr·ªã √¢m ({(negative_qty/len(df)*100):.2f}%)")
if negative_qty > 0:
    print(f"   Min Quantity: {df['Quantity'].min()}")
    print(f"   V√≠ d·ª• negative values: {df[df['Quantity'] < 0]['Quantity'].head(3).values}")

# 2. UnitPrice = 0
print("\n2Ô∏è‚É£ UnitPrice = 0 c√≥ t·ªìn t·∫°i kh√¥ng?")
zero_price = (df['UnitPrice'] == 0).sum()
print(f"   T√¨m th·∫•y: {zero_price} gi√° tr·ªã = 0 ({(zero_price/len(df)*100):.2f}%)")

# 3. UnitPrice √¢m
print("\n3Ô∏è‚É£ UnitPrice c√≥ √¢m kh√¥ng?")
negative_price = (df['UnitPrice'] < 0).sum()
print(f"   T√¨m th·∫•y: {negative_price} gi√° tr·ªã √¢m ({(negative_price/len(df)*100):.2f}%)")
if negative_price > 0:
    print(f"   Min UnitPrice: {df['UnitPrice'].min()}")

# 4. CustomerID tr·ªëng
print("\n4Ô∏è‚É£ CustomerID c√≥ nhi·ªÅu gi√° tr·ªã tr·ªëng kh√¥ng?")
missing_customer = df['CustomerID'].isna().sum()
print(f"   T√¨m th·∫•y: {missing_customer} gi√° tr·ªã NaN ({(missing_customer/len(df)*100):.2f}%)")

# 5. InvoiceNo ch·ª©a 'C' (cancel)
print("\n5Ô∏è‚É£ InvoiceNo c√≥ ch·ª©a ch·ªØ 'C' (cancel) kh√¥ng?")
cancel_invoices = df['InvoiceNo'].astype(str).str.contains('C', na=False).sum()
print(f"   T√¨m th·∫•y: {cancel_invoices} InvoiceNo ch·ª©a 'C' ({(cancel_invoices/len(df)*100):.2f}%)")

print("\n" + "="*60)
print("\nüìä T√ìM T·∫ÆT C√ÅC B·∫§T TH∆Ø·ªúNG:\n")

issues = []
if negative_qty > 0:
    issues.append(f"‚úì Quantity √¢m: {negative_qty} d√≤ng")
if zero_price > 0:
    issues.append(f"‚úì UnitPrice = 0: {zero_price} d√≤ng")
if negative_price > 0:
    issues.append(f"‚úì UnitPrice √¢m: {negative_price} d√≤ng")
if missing_customer > 0:
    issues.append(f"‚úì CustomerID tr·ªëng: {missing_customer} d√≤ng ({(missing_customer/len(df)*100):.2f}%)")
if cancel_invoices > 0:
    issues.append(f"‚úì InvoiceNo ch·ª©a 'C': {cancel_invoices} d√≤ng ({(cancel_invoices/len(df)*100):.2f}%)")

if not issues:
    print("‚úÖ Kh√¥ng t√¨m th·∫•y d·∫•u hi·ªáu l·∫° n√†o!")
else:
    for issue in issues:
        print(issue)

üî¨ Ki·ªÉm tra d·∫•u hi·ªáu l·∫° trong c·ªôt quan tr·ªçng:

============================================================

1Ô∏è‚É£ Quantity c√≥ √¢m kh√¥ng?
   T√¨m th·∫•y: 10624 gi√° tr·ªã √¢m (1.96%)
   Min Quantity: -80995
   V√≠ d·ª• negative values: [ -1  -1 -12]

2Ô∏è‚É£ UnitPrice = 0 c√≥ t·ªìn t·∫°i kh√¥ng?
   T√¨m th·∫•y: 2515 gi√° tr·ªã = 0 (0.46%)

3Ô∏è‚É£ UnitPrice c√≥ √¢m kh√¥ng?
   T√¨m th·∫•y: 2 gi√° tr·ªã √¢m (0.00%)
   Min UnitPrice: -11062.06

4Ô∏è‚É£ CustomerID c√≥ nhi·ªÅu gi√° tr·ªã tr·ªëng kh√¥ng?
   T√¨m th·∫•y: 135080 gi√° tr·ªã NaN (24.93%)

5Ô∏è‚É£ InvoiceNo c√≥ ch·ª©a ch·ªØ 'C' (cancel) kh√¥ng?
   T√¨m th·∫•y: 9288 InvoiceNo ch·ª©a 'C' (1.71%)

============================================================

üìä T√ìM T·∫ÆT C√ÅC B·∫§T TH∆Ø·ªúNG:

‚úì Quantity √¢m: 10624 d√≤ng
‚úì UnitPrice = 0: 2515 d√≤ng
‚úì UnitPrice √¢m: 2 d√≤ng
‚úì CustomerID tr·ªëng: 135080 d√≤ng (24.93%)
‚úì InvoiceNo ch·ª©a 'C': 9288 d√≤ng (1.71%)
   T√¨m th·∫•y: 10624 gi√° tr·ªã √¢m (1.96%)
   Min Quantity: -80995
   V√≠ d·ª• negative values: [ -1  -1 -12]

2Ô∏è‚É£ UnitPrice = 0 c√≥ t·ªìn t·∫°i kh√¥ng?
   T√¨m th·∫•y: 2515 gi√° tr·ªã = 0 (0.46%)

3Ô∏è‚É£ UnitPrice c√≥ √¢m kh√¥ng?
   T√¨m th·∫•y: 2 gi√° tr·ªã √¢m (0.00%)
   Min UnitPrice: -11062.06

4Ô∏è‚É£ CustomerID c√≥ nhi·ªÅu gi√° tr·ªã tr·ªëng kh√¥ng?
   T√¨m th·∫•y: 135080 gi√° tr·ªã NaN (24.93%)

5Ô∏è‚É£ InvoiceNo c√≥ ch·ª©a ch·ªØ 'C' (cancel) kh√¥ng?
   T√¨m th·∫•y: 9288 InvoiceNo ch·ª©a 'C' (1.71%)

============================================================

üìä T√ìM T·∫ÆT C√ÅC B·∫§T TH∆Ø·ªúNG:

‚úì Quantity √¢m: 10624 d√≤ng
‚úì UnitPrice = 0: 2515 d√≤ng
‚úì UnitPrice √¢m: 2 d√≤ng
‚úì CustomerID tr·ªëng: 135080 d√≤ng (24.93%)
‚úì InvoiceNo ch·ª©a 'C': 9288 d√≤ng (1.71%)